<h3>Thank you for registering</h3>
<p>Your registration confirmation is: {{reference}}</p>
<p>Your attending level is: {{orderItem.priceLevel.name}}</p> 
<p>You my pick up your badge from the pre-reg line at the convention. If you have any questions 
regarding your registration, please contact <a href='mailto:registration@thefurststate.org'>registration@thefurststate.org</a>.</p>

<p>Your event hotel reservation link: is <a href="https://embassysuites.hilton.com/en/es/groups/personalized/N/NEWDEES-FUR-20181230/index.jhtml?WT.mc_id=POG">Book Room</a>
</br>This special room rate will be available until November 30th or until the group block is sold-out, whichever comes first.
</p>
<p>See you at the convention!</p> 
